<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ComputerVisionExample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ComputerVisionExample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <ComputerVisionExample.Properties.Settings>
            <setting name="FaceAPIKey" serializeAs="String">
                <value>ba0f616beff3459fa7be18683b42684e</value>
            </setting>
            <setting name="EmotionAPIKey" serializeAs="String">
                <value>3b9ac9e6d76747aebb28142cb73b5d8c</value>
            </setting>
            <setting name="VisionAPIKey" serializeAs="String">
                <value>6657d158036e40808cc6e826ec1abdf9</value>
            </setting>
            <setting name="SettingsPanelVisibility" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="AnalysisInterval" serializeAs="String">
                <value>00:00:03</value>
            </setting>
            <setting name="AutoStopEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FaceAPIHost" serializeAs="String">
                <value>https://westus.api.cognitive.microsoft.com/face/v1.0</value>
            </setting>
            <setting name="EmotionAPIHost" serializeAs="String">
                <value>https://westus.api.cognitive.microsoft.com/emotion/v1.0</value>
            </setting>
            <setting name="VisionAPIHost" serializeAs="String">
                <value>https://westus.api.cognitive.microsoft.com/vision/v1.0</value>
            </setting>
            <setting name="VideoPath" serializeAs="String">
                <value>C:\Users\juswen\Downloads\Videos</value>
            </setting>
        </ComputerVisionExample.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ComputerVisionExample.Properties.Settings>
            <setting name="AutoStopTime" serializeAs="String">
                <value>00:05:00</value>
            </setting>
        </ComputerVisionExample.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ProjectOxford.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.25.0" newVersion="2.0.25.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>